@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --Lys-Grn: #497822;
  --grey-333: #333;
  --white-color: #fff;
}

/*
===============================
Global CSS START
===============================
*/

body {
  margin: 0;
  padding: 0;
  color: #1E2022;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

img, svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:last-of-type {
	margin: 0;
}

::placeholder {
  color: #000000;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: #000000;
}

/*
==========================
Main Btn Css Start
==========================
*/

.site-btn {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 45px;
  display: inline-block;
  transition: 0.3s all ease;
  border-radius: 33px;
  color: var(--white-color);
  background-color: var(--Lys-Grn);
}

.site-btn:hover {
  color: #fff;
  background-color: #1E2022;
}

/*
=========================
Main Btn Css End 
=========================
*/

#page {
  overflow: hidden;
}

.pt-0 {
 padding-top: 0;
}

.pb-0 {
 padding-bottom: 0;
}

.pt-30 {
  padding-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Css Start
============================
*/
.site-header {
	padding: 16px 0;
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.site-logo {
	text-align: center;
}

.header-icon-wrapper a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s all ease;
}

.header-icon-wrapper a:hover {
	opacity: 0.8;
}

.header-icon-wrapper a:not(:last-of-type) {
  margin-right: 45px;
}

/*
============================
Header Css End
============================
*/

/*
============================
Banner Css Start
============================
*/

.banner-area {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h2 {
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  max-width: 400px;
  margin: 48px auto;
}

/*
============================
Banner Css End
============================
*/

/*
============================
Five Column CSS Start
============================
*/

.five-column-section {
  padding: 50px 0;
}

.product-filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 48px;
  flex-wrap: wrap;
}

.product-filter-list li a {
  color: #708935;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
	border-radius: 14px;
  background-color: #fff;
  box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
}

.product-filter-list li .active {
  background: #708935;
}

.product-filter-list li .active span {
  color: #708935;
}

.product-filter-list li span {
  display: block;
  font-size: 12px;
  color: #77838F;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 17px;
}

.section-title h3 {
  color: #1E2022;
  font-size: 26px;
  font-weight: 600;
}

.five-cols-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 48px;
}

.five-col-box {
	display: block;
	margin-top: 40px;
  width: 100%;
}

.five-col-thumb {
  position: relative;
}

.five-col-thumb img {
  width: 100%;
  border-radius: 14px;
}

.heart-icon {
  position: absolute;
  top: 12px;
  left: 14px;
  font-size: 16px;
  stroke-width: 2px;
  color: #fff;
}

.five-col-box h5 {
	color: #1E2022;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 10px;
	position: relative;
	margin-bottom: 0;
}

.five-col-box h5:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(assets/images/basket.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.five-col-box h5 span {
  display: block;
  color: #77838F;
  margin-top: 7px;
}

@media only screen and (max-width:1199px) {

  .five-cols-inner {
    column-gap: 35px;
  }
  
 }
@media only screen and (max-width:991px) {

  .five-cols-inner {
    flex-flow: row wrap;
  }

 }
 
/*
============================
Five Column CSS End
============================
*/

/*
============================
Full Image CSS Start
============================
*/

.full-image {
	position: relative;
	border-radius: 14px;
	background-size: cover;
	background-position: center;
	height: 440px;
}

.full-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

 .full-image-content h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.full-image-slider .slick-arrow {
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 30px;
	cursor: pointer;
	z-index: 3;
	transform: translateY(-50%);
}

.full-image-slider .next_arrow.slick-arrow {
	left: auto;
	right: 30px;
}

@media only screen and (max-width:991px) {

  .five-column-section {
    padding: 45px 0;
  }

  .full-image {
    height: 350px;
  }
  
 }
 
@media only screen and (max-width:767px) {

  .full-image-slider .slick-arrow {
    font-size: 25px;
  }

  .full-image-content h3 {
    font-size: 20px;
  }

 }
/*
============================
Full Image CSS End
============================
*/

/*
============================
Two Column Css Start
============================
*/

.two-column-section {
	padding: 40px 0;
}

.two-col-boxes {
	padding: 24px;
	display: flex;
	align-items: center;
	column-gap: 24px;
	flex-wrap: wrap;
	border-radius: 14px;
	box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
	background-color: var(--white-color);
	margin-bottom: 16px;
}

.two-cols-icon {
  flex: 0 0 max-content;
}

.two-cols-content {
  width: 60%;
}

.two-cols-content h5 {
	font-size: 18px;
	font-weight: 700;
}

@media only screen and (max-width:991px) {

 .two-column-section {
  padding: 20px 0;
 }
  
 }
 @media only screen and (max-width:767px) {

 .two-col-boxes {
   display: block;
 }

 .two-cols-content {
   width: 100%;
   margin-top: 5px;
  }

 }
/*
============================
Two Column Css End
============================
*/

/*
============================
Footer Css Start
============================
*/

.site-footer {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #fff;
}

.widget-title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #121211;
}

.footer-menu ul li a {
  color: var(--grey-333);
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 5px 0;
  transition: 0.3s all ease;
}

.footer-menu ul li a:hover {
 color: #497822;
}

.social-medias li a {
  color: #1D2118;
  font-size: 22px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
}

.field_rounded {
  border-radius: 10px;
  border: 1px solid #CCC;
  background-color: #fff;
  padding: 4px 10px;

}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  margin: 0;
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.field input {
  width: 100%;
  display: block;
  outline: none;
  border: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.field .submit {
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 45px;
  display: inline-block;
  transition: 0.3s all ease;
  border-radius: 33px;
  color: var(--white-color);
  background-color: var(--Lys-Grn);
}

.field .submit:hover {
 color: #fff;
 background: #000;
}

@media only screen and (max-width:991px) {

.site-footer {
  padding-top: 35px;
  padding-bottom: 50px;
}

  .footer-box {
   margin-bottom: 20px;
  }

  }

@media only screen and (max-width:767px) {
  .site-footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  }
/*
============================
Footer Css End
============================
*/


/*
============================
Container Width Css
============================
*/

@media screen and (min-width: 1360px) {
 .container{
    max-width: 1320px;
 }

 }
 /*
 ============================
Container Width Css End
 ============================
 */